body{
background-color: #FAFAFA;
}

.neonred-box{
background-color: #FF072A;
width: 100px;
height: 100px;
}

.red600-box{
background-color: #E53935;
width: 100px;
height: 100px;
}

.blue-box{
background-color: #0078D4;
width: 100px;
height: 100px;
}
